// src/styles/global.scss
@import './variables';

body {
  font-family: 'Pretendard', sans-serif;
  background-color: $secondary-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
